*.suo
*.user
bin/ 	# ignore bin directory 
bin/Debug/
bin/Release/
bin/x64/
bin/ARM64/
obj/Debug/
obj/Release/
obj/ARM64/
obj/x64/
obj/ 	# ignore bin directory 
*.obj 	# ignore any files with .obj postfix 
packages
obj/project.nuget.cache
obj/project.assets.json
obj/BioGTK.csproj.nuget.g.targets
obj/BioGTK.csproj.nuget.g.props
obj/BioGTK.csproj.nuget.dgspec.json
*.nupkg
*.pdb
*.pf
*.data
*.cache
*.jar
*.properties
*.TMP
*.glade#
*.glade~
*.glade~
